/logs
*.class
/target
/build
*/build
/out
.gradle
classes
# Package Files
*.jar
!/libs/
*.war
*.ear
# Intellij IDEA files
.idea
*.iml
*.ipr
*.iws
# rp properties
**/reportportal.properties
*.lock
*.sync